/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.custom-navbar {
    background-color: #2c3e50;
    padding: 10px;
}

/* HERO */
.hero {
    background: url('https://images.unsplash.com/photo-1588072432836-e10032774350') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.hero-overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:white;
}

/* CARD */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* FORM */
.form-container {
    max-width: 600px;
    margin: 50px auto;
}

/* AKTA */
.akta {
    width: 700px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border: 2px solid black;
    font-family: "Times New Roman";
}

/* BUTTON */
.btn {
    min-width: 150px;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
label {
    font-weight: 500;
}

.form-control {
    border-radius: 8px;
}

.card {
    border-radius: 12px;
}

/* ===================== */
/* 🔥 STYLE CETAK AKTA */
/* ===================== */

.akta {
    width: 800px;
    margin: auto;
    padding: 40px;
    font-family: "Times New Roman";

    background: url('aktalahirbaru.jpg') no-repeat center;
    background-size: cover;
}

.judul {
    text-align: center;
    margin-top: 80px;
}

.judul h3 {
    font-weight: bold;
    letter-spacing: 2px;
}

.isi {
    margin-top: 40px;
    line-height: 2;
}

.ttd {
    margin-top: 80px;
    text-align: right;
}

/* PRINT */
@media print {
    button {
        display: none;
    }
}
